$main_bg_color: #1D1D1D ;
$primery_red : #FF6464 ;
$primery_blue : #5CDCF8 ;
$secondary_yellow : #F8E85C ;
$secondary_pink : #F85CA7 ;


$primary_white_text : #FFFFFF ;
$secondry_gray_text :#D2D2D2 ;

$xxxl_font_size : 288px ;
$xxl_font_size : 96px ;
$xl_font_size : 72px ;
$lg_font_size : 64px ;
$md_font_size : 48px ;
$sm_font_size : 24px ;
$xs_font_size : 12px ;

$main_font_family  :  'Roboto', sans-serif; ;
$second_font_family  : 'Ropa Sans', sans-serif ;

// break point 
$desktop : 1022px ;
$phone : 310px ;


//nav 
$nav_width : 180px ;
$main_width: calc(100% - $nav_width); // marge stated
$max-width : 1400px;

$section_padding : 20px

