@charset 'utf-8';

//Vendor
// @import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/_abstracts-dir";

//Base Styles
@import "base/_base-dir";

//Components
@import "components/_components-dir";

//Layout
@import "layouts/_layouts-dir";


.protfolio{
    position: relative;
    background:  $main_bg_color ;
    color : $primary_white_text ; 
    font-family: $main_font_family;
    // max-width: 100%;
    .toggle_icon{
        // width: 100%;
        position: fixed;
        right: 0px;
        top:15px;
        @include flex-row;  
        justify-content: end;
        z-index: 1000;
        p{
            cursor: pointer;
            background-color: $primery_red;
            width: auto;
            padding: 10px;
            
            span {
                display: none;
                color:rgb(109, 109, 109);
                transition: width 500ms ease-in;
            }
            &:hover{
                width:6.5rem;
                span {
                    display: inline;
                }
            }
        }
    }
    .aside-social{
        --list-top : 80% ;
        position: fixed;
        right: 6px;
        top: var(--list-top);
        z-index: 1000;
        opacity: 0.8;
        ul{
            position: relative;
            li{
                cursor: pointer;
                .icon{
                    display: block;
                    width: 18px;
                    margin-top:10px;
                    overflow: hidden;
                    svg{
                        fill: white
                    }
                }

            }
            li:hover{
                svg.link{
                    fill: #0A66C2
                }
                
                svg.twitter{
                    fill: #1DA1F2
                }
                
                svg.github{
                    fill: #181717
                }
                
            }
            &::after{
                content : " " ;
                position: absolute;
                top:calc(var(--list-top) - 390px);
                height: 300px;
                width: 2px;
                right: 10px;
                background-color: white ;
                opacity: 0.5;
            }

        }
    }
    &_warpper{
        @include flex-row ;
        // the left side of the project 
        main{
            width:100%;
            padding: 10px ;
            margin :0px auto ;
            margin-left: 0px;
            @include transition() ;
            // padding: 0px clamp(5% , 10% ,15%);
            .section{
                position: relative;
                width: inherit;
                min-height: 100vh;
                padding : $section_padding;
                // margin: 20px 0px;
                @include flex-col ;
                justify-content: center;
                h1{
                    font-size: $xxl_font_size;
                    letter-spacing: 2px;
                }
                &_about{
                    display: grid;
                    grid-template-columns: 1fr;
                    > div{
                        margin: 0px 30px 0px 0px;    
                    }

                    &_skills{
                        padding-top : 20px;
                        width: 100%;
                        @mixin progressColor($color , $rate) {
                            content: "";
                            position: absolute;
                            bottom: 10px;
                            width: $rate;
                            height: 4px;
                            z-index: 1;
                            border-radius: 10px;
                            background-color: $color;
                        }
                        .skill{
                            position: relative;
                            padding: 0px 0px 30px 0px ;
                            width: inherit;
                            &:after{
                                content: "";
                                position: absolute;
                                bottom: 10px;
                                width: inherit;
                                height: 4px;
                                border-radius: 10px;
                                background-color: rgba(180, 180, 180, 0.582);
                            }
                           
                            &:before{
                                @include progressColor($primery_red , 90%)
                            }
                            
                        }
                        .progress-blue{
                            &:before{
                                @include progressColor($primery_blue , 70%)
                            }
                        }
                        .progress-yellow{
                            &:before{
                                @include progressColor($secondary_yellow , 60%)
                            }
                        }
                        .progress-pink{
                            &:before{
                                @include progressColor($secondary_pink , 70%)
                            }
                        }
                    }
                    
                }
                &_lang{
                    // position: relative;
                    width : inherit;
                    margin: 6rem  auto;
                    // overflow: hidden;
                    &_warpper{
                        position: absolute;
                        // top: 0px;
                        left: 0px;
                        padding: 0px;
                        margin-left: 0px;
                        width: 100%;
                        @include flex-row;
                        @include transition;
                        -webkit-animation: scrolling-left 10s linear infinite;
                        animation: scrolling-left 10s linear infinite;
                        @include keyframes(scrolling-left){
                            0% {transform: translateX(100%);
                                -webkit-transform: translateX(100%);}
                              100% {transform: translateX(-100%);
                                  -webkit-transform: translateX(-100%);}
                        }
                        .lang-items{
                            display:inline-block;
                            margin: 0px 12px;
                            font-size: $md_font_size;
                            font-weight: lighter;
                            opacity: 0.6;
                            background-color: transparent;
                            color: transparent;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: white;
                        }
                    }
                }
                &_work{
                    @include flex-col ;
                    .project{
                        width: 100%;
                        padding: 10px;
                        margin :10px 0px ;
                        @include flex-col;
                    }
                }
               
                &_more-work{
                    width: inherit;
                    overflow: hidden;
                    &_warpper{
                        width: 100%;
                        overflow: hidden;
                        height: auto;
                        // ul 
                        .more-projects-gallery{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                           
                            .gallery_item{
                                width: 20% ;
                                height: auto;
                                position: relative;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                &__contanct{
                    @include flex-col;
                    background-color: rebeccapurple;
                }
                @media screen and(min-width : $desktop) {
                    &_about{
                        grid-template-columns: 1fr 1fr;
                        &_skills{
                            padding-top : 0px;

                        }
                    }
                    &_work{
                        .project{
                            @include flex-row;
                        }
                    }
                }

            }
        }
        footer{
            width:100%;
        }
    }
    @media screen and (min-width: $desktop) {
        &_warpper{
            @include flex-row ;
            main{
                margin-left : $nav_width;
                width: $main_width 
            }
        }
        .toggle_icon{
            display: none;
        }
        
    }

}