// ul 
.more-projects-gallery{
    // overflow: hidden;
    // background-color: lavenderblush;
    // display: grid;
    // grid-template-columns: repeat(auto-fill , minmax(200px ,30%));
    display: flex;
    flex-wrap: wrap;
    // flex-basis: auto;
    .gallery_item{
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;

        .small-project{
            width: 100%;
            height: 100%;
            background-color: rosybrown;
        }
        [data-small-project='1']{
            background:url("../../assets/images/image1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='2']{
            background:url("../../assets/images/image5.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='3']{
            background:url("../../assets/images/image2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='4']{
            background:url("../../assets/images/image3.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='5']{
            background:url("../../assets/images/image4.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }
    .item-lg{
        flex: 2;
    }
}
