// ul 
.more-projects-gallery{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
    // flex-basis: auto;
    .gallery_item{
        width: 27%;
        height: 300px;
        flex: auto;
        position: relative;
        overflow: hidden;
        &:hover{
            transition: 0.4s ease-in-out;
            .small-project{
                background-size: 180%;
                display: inline-block;
                -moz-transition: all 5s ease-in-out;
                -webkit-transition: all 5s ease-in-out;
                -o-transition: all 5s ease-in-out;
                transition: all 5s ease-in-out;
                &::before{
                    content : '' ;
                    position: absolute;
                    width : 100% ;
                    height: 100%;
                    background-color: rgba(0,0,0,0);
                    top : 0px;
                    left:0px;
                }
                &::after{
                    transform:scale(1);
                }
            }
        }
        .small-project{
            position: relative;
            width: 100%;
            height: 100%;
            
            background-color: rosybrown;
            &::before{
                content : '' ;
                position: absolute;
                width : 100% ;
                height: 100%;
                background-color: rgba(0,0,0,0.6);
                top : 0px;
                left:0px;
            }
            &::after{
                content: 'View Me';
                position: absolute;
                text-align: center;
                line-height: 200px;
                font-size: 2rem;
                vertical-align: middle;
                width: 200px;
                height:  200px;
                border-radius: 50%;
                background-color: rgb(235, 182, 182);
                @include center('both');
                top:20%;
                left: 30%;
                transform:scale(0);
                transition: 0.4s ease-in-out;
            }
        }
        [data-small-project='1']{
            background:url("../../assets/images/image1.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='2']{
            background:url("../../assets/images/image5.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='3']{
            background:url("../../assets/images/image2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='4']{
            background:url("../../assets/images/image3.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        [data-small-project='5']{
            background:url("../../assets/images/image4.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
    }
    .item-lg{
        // flex: 3;
    }
}
