input ,textarea {
    display: block;
    padding: 10px;
    min-width: 100%;
    margin-bottom: 9px;
    border: 0px ;
    // margin: 10px 0px ;
    background-color: (--second-text-color);
    color: var(--main-text-color);
    resize: none;
    border:1px solid rgba(255, 255,255 ,0.4);
}
