input ,textarea {
    display: block;
    padding: 10px;
    min-width: 70%;
    border: 0px ;
    margin: 10px 0px ;
    background-color: rgb(141, 141, 141);
    color: white;
    resize: none;
}
.contanct_form{
}