
.nav{
    position: fixed;
    // display: block;
    transition: 0.3s ease;
    top:0px ;
    left:0px ;     
    margin:0px;
    padding :4px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    --nav-padding:9px ; 
    z-index: inherit;
    width: $nav_width;
    &_logo{
        --logo_height:61px ; 
        img{
            width: 40%;
            margin-left: 17px;
            margin-top:20px;
            margin-bottom: 20px;
        }
    }
    &_list{
        flex: 2;
        padding-left: 10px;   
        position: relative;
        margin-left: var(--nav-padding);
        &::before{
            content: '';
            position: absolute;
            width : 1px;
            height: 260px;
            margin: 0px;
            background-color : rgb(235, 235, 235);
            left: 0px;
            top: calc(var(--nav-padding) - 5px) ;
            opacity: 0.6;
        }
        &:after{
            content: 'fatima.alamshhor@gmail.com';
            position: absolute;
            width : 1px;
            margin: 0px;
            left: 0px;
            top: 430px ;
            opacity: 0.9;
            font-size: 12px;
            transform: rotate(-90deg);
        }
        li{
            line-height: 45px;
            position: relative;
            height: 45px;
            &:hover{
                &:before{
                    content : ''; 
                    position :absolute;
                    width : 3px ;
                    left: -10px;
                    border-radius: 10px;
                    z-index: 5;
                    height: inherit;
                    background-color: $primery_red ;
                }
            }
           
        }
        .active{
            // padding: 7px 20px;
            a{
                z-index: -1;
                // &::after{
                    content : ''; 
                    position :absolute;
                    width : 100% ;
                    z-index: inherit;
                    height: inherit;
                    background-color: rgba($primery_blue , 0.3) ;
                    // opacity: 0.4;
                // }
            }
            
            &:before{
                content : ''; 
                position :absolute;
                width : 3px ;
                left: -10px;
                border-radius: 10px;
                z-index: 5;
                height: inherit;
                background-color: $primery_red ;
            }
        }
    }
}
// desktop 
@media screen and(max-width : $desktop) {
        .nav{
        position: fixed;
        z-index: 99999;
        width: 0px;
        // display: none;
        padding: 0px;
        margin: 0px;
        // overflow-y: auto;
        overflow : hidden ;
        background: var(--bg-color);
        // background-color: $main_bg_color;
        align-self: flex-start;
        &_list{
            margin-top:20px;
            margin-left: 10px;;
        }
    }
}
