.section_numberic__upper{
    font-size: $xxxl_font_size;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    opacity: 0.2;
    top:0px;
    left: -20px;
    color:gray;
    z-index: -1;
}

.section_numberic__lower{
    position:absolute;
    font-size: $md_font_size;
    right: 0px;
    bottom: 0px;
    color:$primery_red;
    
    &::before{
        content: '';
        position: absolute;
        width : 500px;
        height: 2px;
        border-radius: 10px;
        bottom: 28px;
        background-color: white;
        right: 90px;
        opacity: 0.3;
    }
}
