
  .toggle-switch {
    position: relative;
    width: 80px;
    margin: auto;
    flex:1 ;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
  }
  
  .toggle-lable {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--toggle-button-color);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .toggle-checkout {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .toggle-checkout:checked ~ .slider {
    background-color:  var(--toggle-button-color);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: inset 10px -4px 0px 0px  var(--toggle-inner-color);
    background-color:  var(--toggle-button-color);
    transition: 0.3s;
  }
  
  .toggle-checkout:checked ~ .slider::before {
    transform: translateX(35px);
    background-color:  var(--toggle-inner-color);
    box-shadow: none;
  }



