*{
    margin:  0px ;
    padding : 0px ;
    box-sizing: border-box;
}
body , html {
    // overflow-x:  hidden;
    scroll-behavior: smooth;
    font-family: "Open Sans",sans-serif;
}

a{
    color : inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px ;
    padding : 0px; 
}
.color-red{
    color: $primery_red
}
.color-blue{
    color: $primery_blue
}

.secondary-text{
    color : $secondry_gray_text ;
    font-size :$sm_font_size ;
    font-family: $second_font_family;
    overflow-wrap: break-word;
}
.peimary-text{
    font-size :$md_font_size ;
    font-family: $main_font_family;
    overflow-wrap: break-word;
}



// need to fixed 
// .section_more-work ul{
//     display: grid;
//     grid-template-columns: repeat(4 ,1fr);
// }
.section_more-work ul li{
    min-width: 200px;
}
.test{
    background-color: $primery_blue;
    padding : 20px ;
    margin: 10px;
    
}

.flex-col {
    @include flex-col;
}
.flex-row {
    @include flex-row;
}
.flex-reverse{
    flex-direction: row-reverse;
}

// desktop
@media screen and (max-width : $desktop) {
    .secondary-text{
        color : $secondry_gray_text ;
        font-size :$sm_font_size ;
        font-family: $second_font_family;
    }
    .peimary-text{
        font-size :$lg_font_size ;
        font-family: $main_font_family;
    }
    
}