*{
    margin:  0px ;
    padding : 0px ;
    box-sizing: border-box;
}

:root{
    --bg-color: #{$dark_bg_color} ;
    --main-text-color: #{$dark_primary_text_color};
    --second-text-color:  #{$dark_decondary_text_color};
    --toggle-button-color:#{$dark_toggle-button};
    --toggle-inner-color:#{$dark_toggle-inner};
    --nav-bg:#{$dark_nav};
    --input-color : #{$dark_input};
}
body , html {
    // overflow-x:  hidden;
    scroll-behavior: smooth;
    font-family: "Open Sans",sans-serif;
}

a{
    color : inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px ;
    padding : 0px; 
}
.color-red{
    color: $primery_red
}
.color-blue{
    color: $primery_blue
}


.flex-col {
    @include flex-col;
}
.flex-row {
    @include flex-row;
}
.flex-reverse{
    flex-direction: row-reverse;
}

.justify-center{
    justify-content: center;
}
.mx{
    margin: 0px clamp(0%, 10%, 20%);
}